$body-color: white;
$background-color: rgb(32, 32, 32);
$board-color: whitesmoke;

/* Reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  color: $body-color;
  background-color: $background-color;
  font-size: calc(12px + 0.5vw);
  line-height: calc(1.1em + 0.5vw);
  font-family: 'Source Sans Pro', sans-serif;
}

h1,
h2 {
  font-family: 'Lato', sans-serif;
  padding: 10px 4px;
}

#container {
  display: grid;
  height: 100%;
  grid-template-columns: auto;
  grid-template-rows: 80px 1fr 140px 40px;
  grid-template-areas:
    'header'
    'board'
    'play'
    'footer';
  justify-items: center;
  align-items: center;

  header {
    grid-area: header;
  }
  #board {
    grid-area: board;
    display: grid;
    grid-template-columns: repeat(7, 42px);
    grid-template-rows: repeat(7, 42px);
    gap: 1px;
  }
  #play {
    grid-area: play;
  }
  footer {
    grid-area: footer;
  }
}

moving-pokemon {
  background-color: $board-color;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  @for $x from 1 through 28 {
    @for $y from 1 through 18 {
      @if (($x + (($y - 1) * 28)) <= 492) {
        &.n#{($x + (($y - 1) * 28))} {
          background-position: -40px * ($x - 1) -40px * ($y - 1);
          &.f0 {
            background-image: url('/assets/sprite_f1.png');
          }
          &.f1 {
            background-image: url('/assets/sprite_f2.png');
          }
        }
      }
    }
  }
}
