<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      href="https://fonts.googleapis.com/css?family=Orbitron|Patrick+Hand|Roboto&display=swap"
      rel="stylesheet"
    />
    <link rel="icon" type="image/png" href="assets/items/poke-ball.png" />
    <title>Catch Pokemon - CodingGarden</title>
  </head>
  <body>
    <div id="container">
      <header>
        <h1><a href="/">Gotta catch 'em all!</a></h1>
      </header>
      <section id="board">
        <div id="info"><my-intro></my-intro></div>
        <current-score></current-score>
      </section>
      <section id="play">
        <play-button></play-button>
        <div id="play-container"></div>
      </section>
      <footer>
        <counter-clock></counter-clock>
      </footer>
    </div>
    ${require('./view/moving-pokemon/moving-pokemon.html')}
    ${require('./view/counter-clock/counter-clock.html')}
    ${require('./view/play-button/play-button.html')}
    ${require('./view/play-area/play-area.html')}
    ${require('./view/current-score/current-score.html')}
    ${require('./view/high-scores/high-scores.html')}
    ${require('./view/my-intro/my-intro.html')}
    ${require('./view/sleep-pokemon/sleep-pokemon.html')}
  </body>
</html>
