<template id="my-intro-template">
  <h1>Hi there, and welcome!</h1>
  <p>
    This is an open source project hosted on
    <a
      href="https://github.com/sergiomoreiraf/CodingGarden-pokemon"
      target="_blank"
      >GitHub</a
    >. Fell free to step by.
  </p>
  <p>
    There are 49 wild pokemons. Try to name them all. You have 200 secs. 1 point
    for correct guess, -1 if wrong. +1 bonus point for remaining time (max 10).
    See
    <a id="a-high-score">high scores</a>.
  </p>
  <p>Hope this helps you to become the greatest Pokemon trainer ever! :)</p>
  <img src="../../assets/badges.png" />
</template>
